.container {
    margin-top: 5%;
}

.toolbar-link {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.toolbar-link:hover{
    color: rgb(253, 202, 202);
}

.toolbar{
    background-color: #DE2D31;
}

.logo{
    width: 100px;
    margin-right: 30px;
}

.toolbar-icon{
    margin-right: 5px;
}