<mat-form-field>
    <input matInput [formControl]="searchInput" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLocationName" (optionSelected)="getWeather($event)">
        <mat-option *ngFor="let option of filteredLocations$ | async" [value]="option">
            {{ option.name }} - {{option.country}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<div *ngIf="(weatherData$ | async) as weatherData">
    <b>Current temperature: </b> <u> {{weatherData.current.temp}}</u>
    <br>
    <div>
        <b>The next 5 days forcast:</b>
        <ul>
            <li *ngFor="let day of weatherData.daily">
                <b>{{ day.dt * 1000 | date:'fullDate' }}:</b>
                Min: <u>{{day.temp.min}}</u> -
                Max: <u>{{day.temp.max}}</u>
            </li>
        </ul>
    </div>
</div>