.search{
width: 100%;
}

.city {
  font-size: 30px;
  font-weight: bold;
}

.date {
  margin-top: -15px;

}

.temp {
  font-size: 40px;
  margin-top: 20px;
  font-weight: bold;

}

.feels-like {
  font-size: 20px;
  color: #7c7c7c;
  font-weight: normal;
}

.forcast{
  margin-top: 30px;
}